.descriptionBlock {
    padding: 10px;
}

.userPhoto {
    width: 300px;
    height: 300px;
}

.contacts {
    padding-left: 10px;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

